<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MenuInfo</key>
	<array>
		<dict>
			<key>item</key>
			<array>
				<dict>
					<key>image</key>
					<string>business</string>
					<key>title</key>
					<string></string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>image</key>
					<string>business</string>
					<key>title</key>
					<string></string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>image</key>
					<string></string>
					<key>title</key>
					<string></string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>image</key>
					<string></string>
					<key>title</key>
					<string></string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>image</key>
					<string></string>
					<key>title</key>
					<string></string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>image</key>
					<string></string>
					<key>title</key>
					<string></string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
			<key>img</key>
			<string>business</string>
			<key>title</key>
			<string>最近使用</string>
		</dict>
		<dict>
			<key>item</key>
			<array>
				<dict>
					<key>image</key>
					<string></string>
					<key>title</key>
					<string></string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>image</key>
					<string></string>
					<key>title</key>
					<string></string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>image</key>
					<string></string>
					<key>title</key>
					<string></string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>image</key>
					<string></string>
					<key>title</key>
					<string></string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>image</key>
					<string></string>
					<key>title</key>
					<string></string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>image</key>
					<string></string>
					<key>title</key>
					<string></string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>image</key>
					<string></string>
					<key>title</key>
					<string></string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>image</key>
					<string></string>
					<key>title</key>
					<string></string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>image</key>
					<string></string>
					<key>title</key>
					<string></string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
			<key>img</key>
			<string>business</string>
			<key>title</key>
			<string>合同管理</string>
		</dict>
		<dict>
			<key>item</key>
			<array>
				<dict>
					<key>image</key>
					<string></string>
					<key>title</key>
					<string></string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>image</key>
					<string></string>
					<key>title</key>
					<string></string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>image</key>
					<string></string>
					<key>title</key>
					<string></string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>image</key>
					<string></string>
					<key>title</key>
					<string></string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
			<key>img</key>
			<string>business</string>
			<key>title</key>
			<string>质检管理</string>
		</dict>
		<dict>
			<key>item</key>
			<array>
				<dict>
					<key>image</key>
					<string></string>
					<key>title</key>
					<string></string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>image</key>
					<string></string>
					<key>title</key>
					<string></string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>image</key>
					<string></string>
					<key>title</key>
					<string></string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>image</key>
					<string></string>
					<key>title</key>
					<string></string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
			<key>img</key>
			<string>business</string>
			<key>title</key>
			<string>清运管理</string>
		</dict>
	</array>
	<key>MenuHeader</key>
	<array>
		<dict>
			<key>color</key>
			<string>#F5A623</string>
			<key>title</key>
			<string>品种A</string>
			<key>count</key>
			<integer>3456</integer>
		</dict>
		<dict>
			<key>color</key>
			<string>#8B572A</string>
			<key>title</key>
			<string>品种B</string>
			<key>count</key>
			<integer>5656</integer>
		</dict>
		<dict>
			<key>color</key>
			<string>#9013FE</string>
			<key>title</key>
			<string>品种C</string>
			<key>count</key>
			<integer>65</integer>
		</dict>
		<dict>
			<key>color</key>
			<string>#31CE98</string>
			<key>title</key>
			<string>品种D</string>
			<key>count</key>
			<integer>3566</integer>
		</dict>
		<dict>
			<key>color</key>
			<string>#E55962</string>
			<key>title</key>
			<string>品种</string>
			<key>count</key>
			<integer>965</integer>
		</dict>
		<dict>
			<key>color</key>
			<string>#E55962</string>
			<key>title</key>
			<string>品种</string>
			<key>count</key>
			<integer>965</integer>
		</dict>
		<dict>
			<key>color</key>
			<string>#E55962</string>
			<key>title</key>
			<string>品种</string>
			<key>count</key>
			<integer>965</integer>
		</dict>
		<dict>
			<key>color</key>
			<string>#E55962</string>
			<key>title</key>
			<string>品种</string>
			<key>count</key>
			<integer>965</integer>
		</dict>
		<dict>
			<key>color</key>
			<string>#E55962</string>
			<key>title</key>
			<string>品种</string>
			<key>count</key>
			<integer>965</integer>
		</dict>
		<dict>
			<key>color</key>
			<string>#E55962</string>
			<key>title</key>
			<string>品种</string>
			<key>count</key>
			<integer>965</integer>
		</dict>
	</array>
</dict>
</plist>
